
.flex {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    background-color: rgb(244, 188, 128);
    border-radius: 5px;
  }

.flex2 {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}

.item-container {
    background-color: #fb971c;
    height: fit-content;
    width: fit-content;
    border: #000000;
    border-radius: 5px;
    padding: 10px;
}

.text1 {
    font-weight: 300;
}

  .heading {
    justify-content: space-between;
    background-color: #fb971c;
    padding: 20px 30px;
  }

  .header-title {
    font-weight: 1000;
    font-size: 20px;
    color: white;
  }
  
  .product-item {
    width: 270px;
    height: 370px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 35px 18px;
    justify-content: space-between;
    background-color: #ff5e00;
    padding: 10px;
  }

  .product-name {
    font-size: 18px;
    color: white;
    font-weight: 400;
  }

  .product-image {
    width:100%;
    max-width: 300px;
    max-height: 200px;
    display: block;
    object-fit: cover;
  }

  .addbutton {
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px auto;
  }

  .addbutton:hover{
    background-color: black;
  }

  .scart {
    width: 20%;
  }

